@font-face{
	font-family: 'icomoon';
	src:  url('icomoon.eot?ck1nv6');
	src:  url('icomoon.eot?ck1nv6#iefix') format('embedded-opentype'),
		url('icomoon.ttf?ck1nv6') format('truetype'),
		url('icomoon.woff?ck1nv6') format('woff'),
		url('icomoon.svg?ck1nv6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-log-out:before { content: "\e902"; }
.icon-chart:before { content: "\e900"; }
.icon-bars:before { content: "\e900"; }
.icon-graph:before { content: "\e900"; }
.icon-bars1:before { content: "\e901"; }
.icon-navicon:before { content: "\e901"; }
.icon-reorder:before { content: "\e901"; }
.icon-pushpin:before { content: "\e946"; }
.icon-calendar:before { content: "\e953"; }
.icon-display:before { content: "\e956"; }
.icon-mobile2:before { content: "\e959"; }
.icon-tablet:before { content: "\e95a"; }
.icon-database:before { content: "\e964"; }
.icon-user:before { content: "\e971"; }
.icon-users:before { content: "\e972"; }
.icon-stats-dots:before { content: "\e99b"; }
.icon-stats-bars:before { content: "\e99c"; }
.icon-clipboard:before { content: "\e9b8"; }
.icon-list2:before { content: "\e9bb"; }
.icon-warning:before { content: "\ea07"; }
.icon-notification:before { content: "\ea08"; }
.icon-question:before { content: "\ea09"; }
.icon-plus:before { content: "\ea0a"; }
.icon-minus:before { content: "\ea0b"; }
.icon-cancel-circle:before { content: "\ea0d"; }
.icon-arrow-right:before { content: "\ea34"; }
.icon-circle-up:before { content: "\ea41"; }
.icon-circle-right:before { content: "\ea42"; }
.icon-circle-down:before { content: "\ea43"; }
.icon-circle-left:before { content: "\ea44"; }
.icon-checkbox-checked:before { content: "\ea52"; }
.icon-checkbox-unchecked:before { content: "\ea53"; }
.icon-table2:before { content: "\ea71"; }
.icon-share2:before { content: "\ea82"; }

/* ** Estilos ** */
.icon-plus{ font-size: 12px; }
.clear { clear: both; }
html, body{
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	background-color: #ecf1fa;
	color: #000;
}
header{
	color: #fff;
	width: 100%;
	overflow: hidden;
	background: #252932;
	margin-bottom: 20px;
	position: fixed;
	height: 53px;
	z-index: 4;
	/*border-bottom: 1px solid blue;*/
}
.wrapper{
	min-height: 100%;
	height: auto;
	width: 90%;
	margin: auto;
	overflow: hidden;
}
header .logo{
    line-height: 53px;
    display: inline-block;
	text-align: left;
}
/*
	padding: 10px 10px;
	background: #b46d2e;
*/
header .logo a{
    line-height: normal;
    display: inline-block;
	cursor: pointer;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	border-radius: 5px;
}
nav{
	/*line-height: 50px;*/
	float: right;
}
.contenedorP a{
	display: inline-block;
	background: #569046;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	padding: 10px 10px;
	line-height: normal;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	vertical-align: middle;
}
.contenedorP #bFinal{ border-radius: 5px; }
nav a, nav input{
	display: inline-block;
	background: #569046;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	padding: 10px 10px;
	line-height: normal;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	border-radius: 5px;
	vertical-align: middle;
}
nav a:hover, nav input:hover, .contenedorP a:hover, #colorB:hover{
	background: #c0adff;
	color: #000;
}
.bt_menu_home{
	background: none;
	border-radius: 0;
	border-bottom: 4px solid #569046;
	padding: 3px 10px;
}
._menu_h{
	/*position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 50%;
	margin: auto;*/
	padding-right: 30px;
	display: inline-block;
	text-align: right;
	font-size: 15px;
}
.conten{ padding-top: 100px; }
.conten p{ margin-bottom: 1em; }
input{ border-radius: 5px; }
#ingresoD{
	width: 100%;
	max-width: 440px;
	text-align: center;
	border-left: 1px solid #000;
	background-color: #423131;
	background-color: #423131db;
	padding: 0 40px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	display: none;
	z-index: 3;
}
#registro, #acceso{
	padding-top: 120px;
	padding-bottom: 90px;
	color: #fff;
	width: 100%;
}
.hola{
	/*border: 7px solid #846131;
	background-color: #dac3a4;
	color: #000;
	border-radius: 20px;
	padding: 20px 20px;*/
	background-color: #fff;
	color: #000;
	padding: 5%;
	display: inline-block;
	width: 90%;
	text-align: left;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}
/* ** Estilos de las tablas ** */
.Table{ display: table; }
.TitleTable{
	display: flex;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	font-size: larger;
	padding-bottom: 15px;
	width: 100%;
}
.Heading{
	display: table-row;
	font-weight: bold;
	text-align: left;
}
.Row{ display: table-row; }
.Cell{
	display: table-cell;
	border-bottom: solid;
	border-width: thin;
	padding-left: 5px;
	padding-right: 10px;
}
/* ** Plegado y desplegado de las tablas ** */
#plegado1, #plegado2, #plegado3, #plegado4{ display: none; }
#bMostrar1, #bMostrar2, #bMostrar3, #bMostrar4, #bOcultar1, #bOcultar2, #bOcultar3, #bOcultar4, #bMostrarMas1, #bMostrarMas2, #bMostrarMas3, #bMostrarMas4{ border-radius: 5px; }
#bOcultar1:hover, #bOcultar2:hover, #bOcultar3:hover, #bOcultar4:hover{
	background: #c0adff;
	color: #000;
}
#bOcultar1, #bOcultar2, #bOcultar3, #bOcultar4{
	display: none;
	background-color: #755d8b;
}
.menuContenidoUser{
	text-align: right;
	display: none;
	float: right;
	position: fixed;
	overflow: auto;
	max-height: 100%;
	right: 0;
	z-index: 1;
	width: 100%;
	max-width: 390px;
	font-size: 15px;
	color: #fff;
}
.menuContenidoUser ul{
	padding-top: 67px;
	padding-bottom: 15px;
	background-color: #333333;
	width: 100%;
}
.menuContenidoUser li{
	vertical-align: middle;
	padding: 15px 30px;
	height: auto;
	cursor: pointer;
	-webkit-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menuContenidoUser a {
	text-decoration: none;
	color: #fff;
}
.menuContenidoUser li span {
	padding-right: 30px;
	-webkit-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menuContenidoUser li:hover > span{ padding-right: 40px; }
.menuContenidoUser li:hover{
	background-color: #000;
}
.botones{
	position: fixed;
	top: 0;
	right: 4px;
	display: flex;
	height: 52px;
	padding: 4px;
}
.sep_bts{
	height: 100%;
	width: 20px;
	border-right: 1px solid #605353;
}
.sep_bts_2{
	height: 100%;
	width: 7px;
	display: inline-block;
}
.menuUser{
	font-size: 24px;
	background-color: transparent;
	border-radius: 0;
	height: 43px;
	width: 43px;
	text-align: center;
	padding: 10px;
}
.cambioUser1, .cambioUser2{
	color: #0e6616;
	cursor: pointer;
	text-decoration: underline;
}
.cambioUser1:hover, .cambioUser2:hover{ color: #252932; }
.cambioUserCancel1, .cambioUserCancel2{
	display: none;
	color: #0e6616;
	cursor: pointer;
	text-decoration: underline;
}
.cambioUserCancel1:hover, .cambioUserCancel2:hover{ color: #252932; }
.msgCambio1, .msgCambio2{ display: none; }
#nombre, #mail, #user, #pass, #userl, #passl{
	width: 100%;
	height: 35px;
	padding: 0 20px 0 20px;
	font-size: 15px;
	border: 3px solid #3c8397;
	background-color: #3c8397;
	background-color: #3c839794;
	color: #fff;
	border-radius: 0;
	font-weight: bold;
}
::placeholder { color: #fff; font-weight: normal; }
::-webkit-input-placeholder { color: #c1c1c1; font-weight: normal; }
.titulo_home{
	background: linear-gradient(rgba(100, 100, 100, 0.2), rgba(100, 100, 100, 0.2)), url('../multimedia/essentialiving-yvG7vDXCzDE-unsplash.jpg');
}
#nuevo_bloque{
	overflow: hidden;
	border-radius: 0;
    display: none;
	color: #fff;
	background-color: #0f2e6a;
	background-color: #0f2e6adb;
	max-width: 600px;
	width: 98%;
	height: 350px;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	margin: auto;
	border: none;
	-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
	z-index: 1;
}
#imprt{
	display: inline-block;
	/*padding-right: 1px;*/
}
#imprt_b{
	background-color: transparent;
	border-radius: 0;
	padding: 9px;
	text-align: left;
	cursor: pointer;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
#imprt_b span{ font-size: 12px; }
#imprt_b:hover{
	/*background-color: #c0adff;
	color: black;*/
	color: #fff;
	text-decoration: underline;
}
#opc_imprt{
	position: absolute;
	display: none;
	width: 200px;
	max-width: 90%;
	height: 250px;
	background-color: #84021c;
	/*background-color: #840202db;*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 20px 0;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
#opc_imprt th{
	text-align: center;
	font-size: 11px;
	border-bottom: 1px solid gray;
}
#opc_imprt td{
	text-align: center;
	cursor: pointer;
}
#opc_imprt td:hover{
	background-color: #000000;
	/*background-color: #000000aa;*/
}
#opc_imprt table{
	width: 100%;
	height: 100%;
}
.opciones{
	padding-top: 20px;
	width: 100%;
	text-align: right;
	display: inline-block;
}
.bts_pendts{
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: inline-block;
}
.bts_pendts a{
	padding: 7px;
	border-radius: 0;
	background-color: transparent;
	border-bottom: 4px solid #569046;
	display: inline-block;
}
#date{
	background: transparent;
	padding: 7px;
	border-radius: 0;
	border-top: 0 solid transparent;
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 2px solid #fff;
}
#date:hover{
	color: #000;
	background: #569046;
}
.new_pd{}
.ordenamiento{
	width: max-content;
	float: right;
	text-align: right;
	padding-bottom: 20px;
}
.ord_ops{ cursor: pointer; }
.ord_ops:hover{ text-decoration: underline; }
.conten{ min-height: 100%; }
.menu_ops{
	display: none;
	position: absolute;
	background-color: orange;
	right: 5%;
	width: 200px;
	padding: 7px 0;
	border: 1px solid #000;
	text-align: center;
	z-index: 1;
}
.menu_ops a{
	display: inline-block;
	width: 100%;
	padding: 10px;
	cursor: pointer;
}
.menu_ops a:hover{ background-color: #bd9766; }
.pendientes_list{
	width: 100%;
	padding: 5px;
}
.fila_list{
	display: block;
	width: 100%;
	/*width: max-content;*/
	display: inline-block;
	/*border-bottom: 2px solid black;*/
}
.sep_list{
	width: 100%;
	height: 2px;
	background-color: gray;
}
/*.fila_list:hover{
	background-color: #b8e6e8;
}*/
#conten{ padding-bottom: 45px; }
#pad_list{
	padding: 2px 15px 15px 15px;
	width: 100%;
	/*background-color: #d1d1f7;*/
	display: none;
}
#txt_list{
	width: 100%;
	padding: 15px;
	font-weight: 400;
	text-align: left;
	/*border: 2px dashed #c0c0c0;*/
	/*border: 1px solid #c0c0c0;*/
	/*border: 1px solid #fff;*/
}
.bt_list{
	display: inline;
	/*position: absolute;*/
	float: right;
	font-size: 10px;
	font-weight: 300;
	width: max-content;
	height: max-content;
	padding: 2px 4px;
	border-radius: 4px;
	color: #fff;
	right: 5%;
	margin: auto;
	z-index: 0;
}
.mos_list{
	font-size: 13px;
	font-weight: 300;
	width: max-content;
}
.btns_list{
	/*display: none;*/
	float: left;
	width: max-content;
	height: max-content;
}
.bFinal, #bFinal{
	cursor: pointer;
	/*font-size: 13px;*/
	padding: 7px;
	border-radius: 4px;
	background-color: #48489f;
	color: #fff;
}
.hd_list{
	cursor: pointer;
	padding: 5px;
}
#textoP{
	width: 100%;
	display: inline-block;
	text-align: left;
}
.hd_list:hover{ background-color: #c0c0c0; }
.hd_list:hover > .mos_list{
	text-decoration: underline;
}
/*.fila_list:hover > .btns_list{
	display: inline;
}*/
#listaT{
	display: none;
	position: absolute;
	transform: translate(0,30px);
	max-width: 100%;
	width: 300px;
	background-color: #333333;
	color: #fff;
	padding: 10px 0px;
}
#listaT a{
	display: inline-block;
	width: 100%;
	padding: 15px 25px;
	cursor: pointer;
}
#listaT a:hover{ background-color: #000; }
.fondo{
	position: fixed;
	width: 100%;
	height: 100%;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000aa;
	z-index: 1;
	display: none;
	vertical-align: middle;
	text-align: center;
}
.finalizaOp{
	width: 100%;
	height: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.finalizaOp .sep_bts_2{ height: 10px; }
.finalizaOp p{
	font-weight: 600;
}
.finalizaOp a{
	padding: 5px 10px;
	border-bottom: 4px solid #a41d1d;
	cursor: pointer;
}
.finalizaOp a:hover{
	background-color: #c0adff;
}
.cont_opsT{
	padding: 40px;
	max-width: 100%;
	width: max-content;
	height: max-content;
	background-color: #f2bd5a;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

@media screen and (max-width: 2000px){}

@media screen and (max-width: 2000px){
	.titulo_home{
		background: linear-gradient(rgba(100, 100, 100, 0.2), rgba(100, 100, 100, 0.2)), url('../multimedia/essentialiving-yvG7vDXCzDE-unsplash(1).jpg');
	}
}

@media screen and (max-width: 1500px){
	.titulo_home{
		background: linear-gradient(rgba(100, 100, 100, 0.2), rgba(100, 100, 100, 0.2)), url('../multimedia/essentialiving-yvG7vDXCzDE-unsplash(2).jpg');
	}
}

@media screen and (min-width: 500px){
	#texto{
		font-size: 17px;
		height: 140px;
		border: 7px solid #5171b0;
		border-radius: 15px;
		padding: 10px 10px;
	}
	#nuevo_bloque, .contenedorP{
		padding: 20px 20px;
	}
	.contenedorP{
		border: 7px solid #5171b0;
		border-radius: 15px;
	}
	.conten{ padding-top: 90px; }
}
@media screen and (max-width: 500px){
	.titulo_home{
		background: linear-gradient(rgba(100, 100, 100, 0.2), rgba(100, 100, 100, 0.2)), url('../multimedia/essentialiving-yvG7vDXCzDE-unsplash(3).jpg');
	}
	#registro, #acceso{ width: 100%; }
	.wrapper{ width: 95%; }
	#nuevo_bloque, .contenedorP{
		width: 95%;
		padding: 15px 15px;
	}
	#nuevo_bloque{ height: 330px; }
	.contenedorP{
		border: 5px solid #5171b0;
		border-radius: 10px;
	}
	#texto{
		font-size: 14px;
		height: 125px;
		border: 5px solid #5171b0;
		border-radius: 10px;
		padding: 7px 7px;
	}
	html, body, input{ font-size: 14px; }
	header .logo{ line-height: 45px; }
	header nav{ line-height: 30px; }
	nav input{
		font-size: 14px;
		padding: 9px 9px;
	}
	header{ height: 47px; }
	.conten{ padding-top: 80px; }
	.menuContenidoUser{
		max-width: 360px;
		font-size: 12px;
	}
	.menuContenidoUser ul{ padding-top: 60px; }
	.menuContenidoUser li{}
	.menuUser{
		height: 37px;
		width: 37px;
		font-size: 20px;
		padding: 8px;
	}
	.botones{
		height: 45px;
	}
}
@media screen and (max-width: 400px){
	html, body, input{ font-size: 12px; }
	#texto{
		font-size: 12px;
		height: 120px;
	}
	nav input{
		font-size: 12px;
		padding: 7px 7px;
	}
	.conten{ padding-top: 70px; }
	.menuContenidoUser{}
	.menuContenidoUser ul{}
	.menuContenidoUser li{}
	#registro, #acceso{
		padding-top: 160px;
	}
	#nombre, #mail, #user, #pass, #userl, #passl{
		height: 30px;
		font-size: 12px;
	}
	#nuevo_bloque{ height: 310px; }
}
@media screen and (max-width: 330px){
	.wrapper{ width: 95%; }
	#nuevo_bloque, .contenedorP{
		width: 100%;
		padding: 10px 10px;
	}
	#nuevo_bloque{ height: 300px; }
	.contenedorP{
		border: 3px solid #5171b0;
		border-radius: 7px;
	}
	#texto{
		font-size: 10px;
		height: 90px;
		border: 3px solid #5171b0;
		border-radius: 7px;
		padding: 5px 5px;
	}
	html, body, input{ font-size: 10px; }
	nav input{ font-size: 10px; }
	header .logo{ line-height: 40px; }
	header nav{ line-height: 30px; }
	header{ height: 40px; }
	.conten{ padding-top: 60px; }
	.menuContenidoUser{}
	.menuContenidoUser ul{ padding-top: 55px; }
	.menuContenidoUser li{}
	._menu_h{
		font-size: 10px;
	}
	.botones{
		height: 40px;
	}
	.menuUser{
		height: 30px;
		width: 30px;
		font-size: 15px;
	}
	#registro, #acceso{
		padding-top: 160px;
	}
	#nombre, #mail, #user, #pass, #userl, #passl{
		height: 30px;
		font-size: 10px;
		border: 2px solid #3c8397;
	}
}
/*footer{
	width: 100%;
	height: 200px;
	background-color: #fff;
	color:  #000;
	text-align: center;
}
#pPag{
	padding-top: 20px;
}
#pPagInfo{
	padding-top: 40px;
	color: #fff;
	background-color: #5D6D7E;
}

#contenedor_carga{
	height: 200px;
	width: 100%;
	position: absolute;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 10000;
}
#carga{
	border: 7px solid #c3f7b5;
	border-top-color: #569046;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-animation: girar 600ms linear infinite;
	-o-animation: girar 600ms linear infinite;
	animation: girar 600ms linear infinite;
}
@keyframes girar{
	from { transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}*/

.titulo_home{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 100%;
	vertical-align: middle;
	min-height: 100%;
	color: black;
	position: fixed;
	z-index: 0;
}
#descr{ color: #fff; }
#mensaje1, #mensaje2{
	display: none;
	line-height: normal;
	width: 100%;
	color: #ff7373;
	text-align: left;
}
#mensaje{
	display: none;
	line-height: normal;
	width: 100%;
	/*background-color: #fff;
	color: #ca0e0e;*/
	color: #fff;
	text-align: left;
}
#texto{
	color: #000;
	background-color: #fff;
	background-color: #ffffffaa;
	border: 1px solid black;
	border-radius: 0;
	width: 100%;
	height: 150px;
}
textarea{ resize: none; }
.quec{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
}
.contenedorP{
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
    display: inline-block;
	color: #000;
	border-color: #846131;
	background-color: #dac3a4;
	height: auto;
}
#fecha{
	padding: 5px 5px;
	border-radius: 5px;
}
#descrip{
	background-color: #f7e1c3;
	border: 3px solid #846131;
	border-radius: 7px;
	padding: 5px 5px;
}
ul, ol { list-style: none; }
.listaT > li { float: left; }
/*#colorB, .listaT li a { background-color: #755d8b; }*/
.listaT li a {
	text-decoration: none;
	display: block;
}
.listaT li ul {
	position: absolute;
	min-width: 140px;
}
.listaT li ul li { position: relative; }
